# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
.env/
.venv/

# OS stuff
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/project files
.vscode/
.idea/

# Flask / instance folder (runtime data)
instance/

# Environment variables
*.env

# Bytecode & temp files
*.egg-info/
*.egg/
.eggs/
